absl-py==0.11.0
astor==0.8.1
cached-property==1.5.2
certifi==2020.11.8
chardet==3.0.4
gast==0.2.2
gitdb==4.0.5
GitPython==3.1.11
google-pasta==0.2.0
grpcio==1.33.2
h5py==3.1.0
idna==2.10
importlib-metadata==3.1.0
imutils==0.5.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
lobe==0.2.1
Markdown==3.3.3
numpy==1.16.4
onnxruntime==1.4.0
opencv-python==4.4.0.42
opt-einsum==3.3.0
Pillow==7.2.0
protobuf==3.14.0
requests==2.25.0
six==1.15.0
smmap==3.0.4
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.4
termcolor==1.1.0
urllib3==1.26.2
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
